:root {
    /* error color palette */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error40: #B81F1E;
  --md-ref-palette-error50: #DB3A33;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;

/* neutral color palette */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #10110E;
  --md-ref-palette-neutral10: #1B1C18;
  --md-ref-palette-neutral15: #252622;
  --md-ref-palette-neutral20: #30312C;
  --md-ref-palette-neutral25: #3B3C37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #52534E;
  --md-ref-palette-neutral40: #5E5F59;
  --md-ref-palette-neutral50: #777772;
  --md-ref-palette-neutral60: #91918B;
  --md-ref-palette-neutral70: #ACABA5;
  --md-ref-palette-neutral80: #C7C7C0;
  --md-ref-palette-neutral90: #E4E3DC;
  --md-ref-palette-neutral95: #F2F1EA;
  --md-ref-palette-neutral98: #FBF9F2;
  --md-ref-palette-neutral99: #FEFCF5;
  --md-ref-palette-neutral100: #FFFFFF;

/* neutral-variant color palette */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0F120A;
  --md-ref-palette-neutral-variant10: #191D14;
  --md-ref-palette-neutral-variant15: #24271D;
  --md-ref-palette-neutral-variant20: #2E3228;
  --md-ref-palette-neutral-variant25: #393D32;
  --md-ref-palette-neutral-variant30: #45483D;
  --md-ref-palette-neutral-variant35: #505449;
  --md-ref-palette-neutral-variant40: #5C6054;
  --md-ref-palette-neutral-variant50: #75786C;
  --md-ref-palette-neutral-variant60: #8F9285;
  --md-ref-palette-neutral-variant70: #AAAD9F;
  --md-ref-palette-neutral-variant80: #C5C8BA;
  --md-ref-palette-neutral-variant90: #E1E4D5;
  --md-ref-palette-neutral-variant92: #E7EADB;
  --md-ref-palette-neutral-variant94: #EDEFE0;
  --md-ref-palette-neutral-variant95: #F0F2E3;
  --md-ref-palette-neutral-variant96: #F3F5E6;
  --md-ref-palette-neutral-variant98: #F9FBEB;
  --md-ref-palette-neutral-variant99: #FBFEEE;
  --md-ref-palette-neutral-variant100: #FFFFFF;

/* primary color palette */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #081400;
  --md-ref-palette-primary10: #102000;
  --md-ref-palette-primary15: #172B00;
  --md-ref-palette-primary20: #1F3700;
  --md-ref-palette-primary25: #264300;
  --md-ref-palette-primary30: #2F4F00;
  --md-ref-palette-primary35: #375C00;
  --md-ref-palette-primary40: #3F6900;
  --md-ref-palette-primary50: #518500;
  --md-ref-palette-primary60: #64A104;
  --md-ref-palette-primary70: #7DBD2A;
  --md-ref-palette-primary80: #97D945;
  --md-ref-palette-primary90: #B2F65F;
  --md-ref-palette-primary95: #D2FF9B;
  --md-ref-palette-primary98: #F0FFD7;
  --md-ref-palette-primary99: #F9FFE9;
  --md-ref-palette-primary100: #FFFFFF;

/* secondary color palette */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #081400;
  --md-ref-palette-secondary10: #121F03;
  --md-ref-palette-secondary15: #1C2A0B;
  --md-ref-palette-secondary20: #263515;
  --md-ref-palette-secondary25: #31401F;
  --md-ref-palette-secondary30: #3C4C29;
  --md-ref-palette-secondary35: #475834;
  --md-ref-palette-secondary40: #53643F;
  --md-ref-palette-secondary50: #6B7D56;
  --md-ref-palette-secondary60: #85976E;
  --md-ref-palette-secondary70: #9FB287;
  --md-ref-palette-secondary80: #BACDA0;
  --md-ref-palette-secondary90: #D6E9BB;
  --md-ref-palette-secondary95: #E4F8C8;
  --md-ref-palette-secondary98: #F0FFD8;
  --md-ref-palette-secondary99: #F8FFE9;
  --md-ref-palette-secondary100: #FFFFFF;

/* tertiary color palette */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001413;
  --md-ref-palette-tertiary10: #00201E;
  --md-ref-palette-tertiary15: #002B29;
  --md-ref-palette-tertiary20: #003735;
  --md-ref-palette-tertiary25: #004340;
  --md-ref-palette-tertiary30: #00504C;
  --md-ref-palette-tertiary35: #005D59;
  --md-ref-palette-tertiary40: #056A66;
  --md-ref-palette-tertiary50: #30837F;
  --md-ref-palette-tertiary60: #4D9D98;
  --md-ref-palette-tertiary70: #69B8B3;
  --md-ref-palette-tertiary80: #85D4CF;
  --md-ref-palette-tertiary90: #A1F1EB;
  --md-ref-palette-tertiary95: #B0FFF9;
  --md-ref-palette-tertiary98: #E3FFFC;
  --md-ref-palette-tertiary99: #F2FFFD;
  --md-ref-palette-tertiary100: #FFFFFF;
}