:root {
  /* ref tokens */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #160041;
  --md-ref-palette-primary10: #22005D;
  --md-ref-palette-primary15: #2D1067;
  --md-ref-palette-primary20: #381E72;
  --md-ref-palette-primary25: #432B7E;
  --md-ref-palette-primary30: #4F378A;
  --md-ref-palette-primary35: #5B4397;
  --md-ref-palette-primary40: #6750A4;
  --md-ref-palette-primary50: #8069BF;
  --md-ref-palette-primary60: #9A83DB;
  --md-ref-palette-primary70: #B69DF7;
  --md-ref-palette-primary80: #CFBCFF;
  --md-ref-palette-primary90: #E9DDFF;
  --md-ref-palette-primary95: #F6EEFF;
  --md-ref-palette-primary98: #FDF7FF;
  --md-ref-palette-primary99: #FFFBFF;
  --md-ref-palette-primary100: #FFFFFF;

  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #130E20;
  --md-ref-palette-secondary10: #1E192B;
  --md-ref-palette-secondary15: #282336;
  --md-ref-palette-secondary20: #332D41;
  --md-ref-palette-secondary25: #3E384D;
  --md-ref-palette-secondary30: #4A4459;
  --md-ref-palette-secondary35: #564F65;
  --md-ref-palette-secondary40: #625B71;
  --md-ref-palette-secondary50: #7B738B;
  --md-ref-palette-secondary60: #958DA5;
  --md-ref-palette-secondary70: #B0A7C0;
  --md-ref-palette-secondary80: #CCC2DC;
  --md-ref-palette-secondary90: #E8DEF9;
  --md-ref-palette-secondary95: #F6EEFF;
  --md-ref-palette-secondary98: #FDF7FF;
  --md-ref-palette-secondary99: #FFFBFF;
  --md-ref-palette-secondary100: #FFFFFF;

  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #240612;
  --md-ref-palette-tertiary10: #31101D;
  --md-ref-palette-tertiary15: #3D1B27;
  --md-ref-palette-tertiary20: #4A2532;
  --md-ref-palette-tertiary25: #56303D;
  --md-ref-palette-tertiary30: #633B48;
  --md-ref-palette-tertiary35: #704654;
  --md-ref-palette-tertiary40: #7E5260;
  --md-ref-palette-tertiary50: #996A78;
  --md-ref-palette-tertiary60: #B58392;
  --md-ref-palette-tertiary70: #D29DAC;
  --md-ref-palette-tertiary80: #EFB8C8;
  --md-ref-palette-tertiary90: #FFD9E3;
  --md-ref-palette-tertiary95: #FFECF0;
  --md-ref-palette-tertiary98: #FFF8F8;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;

  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410E0B;
  --md-ref-palette-error20: #601410;
  --md-ref-palette-error30: #8C1D18;
  --md-ref-palette-error40: #B3261E;
  --md-ref-palette-error50: #DC362E;
  --md-ref-palette-error60: #E46962;
  --md-ref-palette-error70: #EC928E;
  --md-ref-palette-error80: #F2B8B5;
  --md-ref-palette-error90: #F9DEDC;
  --md-ref-palette-error95: #FCEEEE;
  --md-ref-palette-error99: #FFFBF9;
  --md-ref-palette-error100: #FFFFFF;

  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #111111;
  --md-ref-palette-neutral10: #1C1B1C;
  --md-ref-palette-neutral15: #262526;
  --md-ref-palette-neutral20: #313030;
  --md-ref-palette-neutral25: #3C3B3B;
  --md-ref-palette-neutral30: #484646;
  --md-ref-palette-neutral35: #545252;
  --md-ref-palette-neutral40: #605E5E;
  --md-ref-palette-neutral50: #797676;
  --md-ref-palette-neutral60: #939090;
  --md-ref-palette-neutral70: #ADAAAA;
  --md-ref-palette-neutral80: #C9C6C5;
  --md-ref-palette-neutral90: #E5E1E1;
  --md-ref-palette-neutral95: #F4F0EF;
  --md-ref-palette-neutral98: #FDF8F8;
  --md-ref-palette-neutral99: #FFFBFF;
  --md-ref-palette-neutral100: #FFFFFF;

  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #111112;
  --md-ref-palette-neutral-variant10: #1C1B1C;
  --md-ref-palette-neutral-variant15: #262526;
  --md-ref-palette-neutral-variant20: #313031;
  --md-ref-palette-neutral-variant25: #3C3B3C;
  --md-ref-palette-neutral-variant30: #484647;
  --md-ref-palette-neutral-variant35: #545253;
  --md-ref-palette-neutral-variant40: #605E5F;
  --md-ref-palette-neutral-variant50: #797677;
  --md-ref-palette-neutral-variant60: #939091;
  --md-ref-palette-neutral-variant70: #AEAAAB;
  --md-ref-palette-neutral-variant80: #C9C5C6;
  --md-ref-palette-neutral-variant90: #E6E1E2;
  --md-ref-palette-neutral-variant92: #ebe7e8ff;
  --md-ref-palette-neutral-variant94: #f1edeeff;
  --md-ref-palette-neutral-variant95: #F4F0F0;
  --md-ref-palette-neutral-variant96: #f7f2f3ff;
  --md-ref-palette-neutral-variant98: #FDF8F9;
  --md-ref-palette-neutral-variant99: #FFFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
}
