.ui-icon-button {
  // this is the start of new variables
  --_container-width: var(--md-filled-icon-button-container-width, 40px);
  --_container-height: var(--md-filled-icon-button-container-height, 40px);
  --_container-color: var(--md-filled-icon-button-container-color, var(--md-sys-color-primary));
  --_border-radius: var(--md-sys-shape-corner-full, 9999px);
  --_pressed-border-radius: var(--md-sys-shape-corner-medium, 8px);
  --_icon-size: var(--md-filled-icon-button-icon-size, 24px);
  --_icon-color: var(--md-filled-icon-button-icon-color, var(--md-sys-color-on-primary));
  --_outline-width: 0;
  --_outline-color: transparent;
  --_container-color-opacity: 1;
  --_icon-color-opacity: 1;
  --_state-layer-color: transparent;
  --_state-layer-color-opacity: 0;
  
  position: relative;
  inline-size: var(--_container-width);
  block-size: var(--_container-height);
  min-inline-size: var(--_container-width);
  min-block-size: var(--_container-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: var(--_border-radius);
  background: transparent;
  color: color-mix(
    in srgb,
    var(--_icon-color) calc(var(--_icon-color-opacity) * 100%),
    transparent
  );
  cursor: pointer;
  outline: none;
  user-select: none;
  text-decoration: none;
  transition:
    color 120ms ease-out,
    border-color 120ms ease-out,
    background-color 120ms ease-out,
    border-radius 120ms ease-out,
    opacity 120ms ease-out;

  background: color-mix(
    in srgb,
    var(--_container-color) calc(var(--_container-color-opacity) * 100%),
    transparent
  );
  border: var(--_outline-width) solid var(--_outline-color);

  // to increase the touch target
  &::before {
    content: "";
    position: absolute;
    inset: calc(
      -1 * max(
        (48px - min(var(--_container-width), var(--_container-height))),
        0px
      ) / 2
    );
    border-radius: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: color-mix(
      in srgb,
      var(--_state-layer-color) calc(var(--_state-layer-color-opacity) * 100%),
      transparent
    );
    pointer-events: none;
    z-index: 1;
    transition: background-color 120ms ease-out;
  }

  &:not(:disabled):active {
    border-radius: var(--_pressed-border-radius);
  }

  // just to highlight the outline for the focus visible state
  &:not(:disabled):focus-visible {
    outline: max(var(--_outline-width), 2px) solid var(--md-sys-color-primary);
    outline-offset: 2px;
  }

  &:is(:disabled, [aria-disabled="true"]) {
    cursor: default;
  }

  &--xsmall {
    --_icon-size: var(--md-icon-button-xsmall-icon-size, 20px);
    --_pressed-border-radius: var(--md-icon-button-xsmall-pressed-container-shape, 8px);
    --_outline-width: var(--md-icon-button-xsmall-container-outline-width, 1px);

    &--narrow-width {
      --_container-width: var(--md-icon-button-xsmall-narrow-container-width, 28px);
      --_container-height: var(--md-icon-button-xsmall-narrow-container-height, 32px);
    }

    &--default-width {
      --_container-width: var(--md-icon-button-xsmall-default-container-width, 32px);
      --_container-height: var(--md-icon-button-xsmall-default-container-height, 32px);
    }

    &--wide-width {
      --_container-width: var(--md-icon-button-xsmall-wide-container-width, 40px);
      --_container-height: var(--md-icon-button-xsmall-wide-container-height, 32px);
    }
  }

  &--small {
    --_icon-size: var(--md-icon-button-small-icon-size, 24px);
    --_pressed-border-radius: var(--md-icon-button-small-pressed-container-shape, 8px);
    --_outline-width: var(--md-icon-button-small-container-outline-width, 1px);

    &--default-width {
      --_container-width: var(--md-icon-button-small-default-container-width, 40px);
      --_container-height: var(--md-icon-button-small-default-container-height, 40px);
    }

    &--narrow-width {
      --_container-width: var(--md-icon-button-small-narrow-container-width, 32px);
      --_container-height: var(--md-icon-button-small-narrow-container-height, 40px);
    }
  
    &--wide-width {
      --_container-width: var(--md-icon-button-small-wide-container-width, 52px);
      --_container-height: var(--md-icon-button-small-wide-container-height, 40px);
    }
  }

  &--medium {
    --_icon-size: var(--md-icon-button-medium-icon-size, 24px);
    --_pressed-border-radius: var(--md-icon-button-medium-pressed-container-shape, 12px);
    --_outline-width: var(--md-icon-button-medium-container-outline-width, 1px);

    &--default-width {
      --_container-width: var(--md-icon-button-medium-default-container-width, 56px);
      --_container-height: var(--md-icon-button-medium-default-container-height, 56px);
    }

    &--narrow-width {
      --_container-width: var(--md-icon-button-medium-narrow-container-width, 48px);
      --_container-height: var(--md-icon-button-medium-narrow-container-height, 56px);
    }
  
    &--wide-width {
      --_container-width: var(--md-icon-button-medium-wide-container-width, 72px);
      --_container-height: var(--md-icon-button-medium-wide-container-height, 56px);
    }
  }

  &--large {
    --_icon-size: var(--md-icon-button-large-icon-size, 32px);
    --_pressed-border-radius: var(--md-icon-button-large-pressed-container-shape, 16px);
    --_outline-width: var(--md-icon-button-large-container-outline-width, 2px);

    &--default-width {
      --_container-width: var(--md-icon-button-large-default-container-width, 96px);
      --_container-height: var(--md-icon-button-large-default-container-height, 96px);
    }

    &--narrow-width {
      --_container-width: var(--md-icon-button-large-narrow-container-width, 64px);
      --_container-height: var(--md-icon-button-large-narrow-container-height, 96px);
    }
  
    &--wide-width {
      --_container-width: var(--md-icon-button-large-wide-container-width, 128px);
      --_container-height: var(--md-icon-button-large-wide-container-height, 96px);
    }
  }

  &--xlarge {
    --_icon-size: var(--md-icon-button-xlarge-icon-size, 40px);
    --_pressed-border-radius: var(--md-icon-button-xlarge-pressed-container-shape, 16px);
    --_outline-width: var(--md-icon-button-xlarge-container-outline-width, 3px);

    &--default-width {
      --_container-width: var(--md-icon-button-xlarge-default-container-width, 136px);
      --_container-height: var(--md-icon-button-xlarge-default-container-height, 136px);
    }

    &--narrow-width {
      --_container-width: var(--md-icon-button-xlarge-narrow-container-width, 104px);
      --_container-height: var(--md-icon-button-xlarge-narrow-container-height, 136px);
    }
  
    &--wide-width {
      --_container-width: var(--md-icon-button-xlarge-wide-container-width, 184px);
      --_container-height: var(--md-icon-button-xlarge-wide-container-height, 136px);
    }
  }

  &--filled {
    --_outline-width: 0;

    &:not(:disabled):hover {
      --_state-layer-color: var(--md-filled-icon-button-hover-state-layer-color, var(--md-sys-color-on-primary));
      --_state-layer-color-opacity: var(--md-filled-icon-button-hover-state-layer-opacity, 0.08);
    }

    &:not(:disabled):active { 
      --_state-layer-color: var(--md-filled-icon-button-pressed-state-layer-color, var(--md-sys-color-on-primary));
      --_state-layer-color-opacity: var(--md-filled-icon-button-pressed-state-layer-opacity, 0.12);
    }

    // handled in the top for all variants
    &:not(:disabled):focus-visible {
      
    }

    // TODO: is there a way to re-use this ?
    &:is(:disabled, [aria-disabled="true"]) {
      --_container-color: var(--md-filled-icon-button-disabled-container-color, var(--md-sys-color-on-surface));
      --_container-color-opacity: var(--md-filled-icon-button-disabled-container-opacity, 0.12);
      --_icon-color: var(--md-filled-icon-button-disabled-icon-color, var(--md-sys-color-on-surface));
      --_icon-color-opacity: var(--md-filled-icon-button-disabled-icon-opacity, 0.38);
    }

    &--unselected {
      --_container-color: var(--md-filled-icon-button-unselected-container-color, var(--md-sys-color-surface-container-highest)); 

      &:hover {
        
      }
  
      &:active {
  
      }
  
      &:focus-visible {
        
      }
  
      // TODO: is there a way to re-use this ?
      &:is(:disabled, [aria-disabled="true"]) {
        
      }
    }

    &--selected {
      // --_container-color: var(--md-filled-icon-button-selected-container-color, var(--md-sys-color-primary));
      // --_icon-color: var(--md-filled-icon-button-toggle-selected-icon-color, var(--md-sys-color-on-primary));

      &:hover {
      
      }
  
      &:active {
  
      }
  
      &:focus-visible {
        
      }
  
      // TODO: is there a way to re-use this ?
      &:is(:disabled, [aria-disabled="true"]) {
        
      }
    }
  }

  &--tonal {
    --_container-color: var(--md-filled-tonal-icon-button-container-color, var(--md-sys-color-secondary-container));
    --_icon-color: var(--md-filled-tonal-icon-button-icon-color, var(--md-sys-color-on-secondary-container));
    --_outline-width: 0;

    &:not(:disabled):hover {
      --_state-layer-color: var(--md-filled-tonal-icon-button-hover-state-layer-color, var(--md-sys-color-on-secondary-container));
      --_state-layer-color-opacity: var(--md-filled-tonal-icon-button-hover-state-layer-opacity, 0.08);
    }

    &:not(:disabled):active { 
      --_state-layer-color: var(--md-filled-tonal-icon-button-pressed-state-layer-color, var(--md-sys-color-on-secondary-container));
      --_state-layer-color-opacity: var(--md-filled-icon-button-pressed-state-layer-opacity, 0.12);
    }

    // TODO: is there a way to re-use this ?
    &:is(:disabled, [aria-disabled="true"]) {
      --_container-color: var(--md-filled-tonal-icon-button-disabled-container-color, var(--md-sys-color-on-surface));
      --_container-color-opacity: var(--md-filled-tonal-icon-button-disabled-container-opacity, 0.12);
      --_icon-color: var(--md-filled-tonal-icon-button-disabled-icon-color, var(--md-sys-color-on-surface));
      --_icon-color-opacity: var(--md-filled-tonal-icon-button-disabled-icon-opacity, 0.38);
    }
  }

  &--outlined {
    --_container-color: transparent;
    --_icon-color: var(--md-outlined-icon-button-icon-color, var(--md-sys-color-on-surface-variant));
    --_outline-color: var(--md-outlined-icon-button-outline-color, var(--md-sys-color-outline));

    &:not(:disabled):hover {
      --_state-layer-color: var(--md-outlined-icon-button-hover-state-layer-color, var(--md-sys-color-on-surface-variant));
      --_state-layer-color-opacity: var(--md-outlined-icon-button-hover-state-layer-opacity, 0.08);
    }

    &:not(:disabled):active { 
      --_state-layer-color: var(--md-outlined-icon-button-pressed-state-layer-color, var(--md-sys-color-on-surface-variant));
      --_state-layer-color-opacity: var(--md-outlined-icon-button-pressed-state-layer-opacity, 0.12);
    }

    &:is(:disabled, [aria-disabled="true"]) {
      --_outline-color: color-mix(
        in srgb,
        var(--md-outlined-icon-button-disabled-outline-color, var(--md-sys-color-on-surface))
        calc(var(--md-outlined-icon-button-disabled-outline-opacity, 0.12) * 100%),
        transparent
      );

      // instead of having the calculation duplicated all the time, we can just set the variables and do
      // the calculation in the top for all variants
      --_icon-color: var(--md-outlined-icon-button-disabled-icon-color, var(--md-sys-color-on-surface));
      --_icon-color-opacity: var(--md-outlined-icon-button-disabled-icon-opacity, 0.38);
    }
  }

  &--standard {
    --_container-color: transparent;
    --_outline-width: 0;
    --_icon-color: var(--md-icon-button-icon-color, var(--md-sys-color-on-surface-variant));

    &:not(:disabled):hover {
      --_state-layer-color: var(--md-icon-button-hover-state-layer-color, var(--md-sys-color-on-surface-variant));
      --_state-layer-color-opacity: var(--md-icon-button-hover-state-layer-opacity, 0.08);
    }

    &:not(:disabled):active { 
      --_state-layer-color: var(--md-icon-button-pressed-state-layer-color, var(--md-sys-color-on-surface-variant));
      --_state-layer-color-opacity: var(--md-icon-button-pressed-state-layer-opacity, 0.12);
    }

    &:is(:disabled, [aria-disabled="true"]) {
      --_icon-color: var(--md-icon-button-disabled-icon-color, var(--md-sys-color-on-surface));
      --_icon-color-opacity: var(--md-icon-button-disabled-icon-opacity, 0.38);
    }
  }
}

.ui-icon-button__icon {
  inline-size: var(--_icon-size);
  block-size: var(--_icon-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  > svg {
    inline-size: 100%;
    block-size: 100%;
  }
}
